/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Cards */
@import url("components/cards.css");
@import url("components/banner.css");
@import url("components/buttons.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.container {
  align-items: center;
  margin: 0 auto;
  width: 1000px;
  padding: 100px;
}

footer li {
  display: inline;
}

footer {
  background-color: #2e242c;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 auto;

}

footer a {
  color: white;
}
