/* Your card CSS file */

.cards {
display: flex;
justify-content: space-between;
margin: 0 auto;
}

/* Card category */

.card-category {
background-size: cover;
color: white;
padding: 60px 40px;
margin: 0 auto;
text-shadow: 0 10px 30px rgba(0,0,0,.1);
box-shadow: 0 10px 30px rgba(0,0,0,.1);
border-radius: 4px;
width: 400px;
filter: grayscale(50%);
display: flex;
justify-content: center;
align-items: center;
object-fit: cover;
}

/* Card product */

.card-product {
  background-color: white;
  height: 120px;
  width: 300px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.card-product-description {
  padding: 20px;
}

.card-product-description h2 {
  font-size: 16px;
  margin: 0;
}

.card-product-description p {
  font-size: 14px;
  opacity: 0.6;
}

/* Card trip */

.card-trip {
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 500px;
}

.card-trip img {
  height: 200px;
  width: 500px;
  object-fit: cover;
}

.card-trip-info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-info h2, p {
  margin: 0;
  font-size: 16px;
}

.card-trip-info p {
  font-size: 12px;
  font-weight: lighter;
  opacity: 0.7;
}

.card-trip-info img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  position: absolute;
  right: 22px;
  bottom: 53px;
}
